<!doctype html>
<html lang="en" ng-app="InstagramSearcher">
<head>
	<meta charset="UTF-8">
	<title>Instagram Searcher</title>
    <link type="text/css" rel="stylesheet" href="./reset.css">
    <link type="text/css" rel="stylesheet" href="./main.css">
    <script src="./jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="./angular.js" type="text/javascript"></script>
    <script src="./angular-animate.js" type="text/javascript"></script>
    <script src="./instagram-searcher.js" type="text/javascript"></script>
</head>
<body ng-controller="ImageDisplayCtrl" ng-mouseenter="showControls=true" ng-mouseleave="showControls=false">
    <header class="animate">
        <div id="navInstaSearchLogo" ng-show="showControls">
            <img src="img/insta-search.png">
        </div><!--
     --><div id="navSearch" ng-show="showControls">
            <form ng-controller="FormCtrl" ng-submit="submit()" name="searchForm" novalidate>
                <input type="text" placeholder="Enter a tag to search" ng-model="data.searchTag" required><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </header>
    <!--<button class="testbutton" type="button" ng-click="tsi()">Toggle</button>-->

    <div id="viewport">
        <div id="imageDisplay">
            <img ng-src="{{imageUrl}}" imageonload ng-show="showImage == true">
        </div>

        <section id="messages" class="animate" ng-show="showControls == true">
            <p class="animate" ng-if="searchCaption != null">{{searchCaption}}</p>
            <div class="photoCaption" ng-show="loadCaption != null">
                <img ng-src="{{userImageUrl}}" ng-if="userImageUrl != null" userimageonload>
                <p class="animate" ng-if="loadCaption != null">{{loadCaption}}</p>
            </div>
        </section>
    </div>

    <footer ng-class="{animate:showControls}">
        <div class="slider">
            <a ng-repeat="photo in photos"
               ng-click="displayPhoto(photo, $event)"
               href="javascript:void(0)">
                <img ng-src="{{photo.images.thumbnail.url}}">
                <div class="thumbwindow" ng-class="{selected:selected}"></div>
            </a>
        </div>
    </footer>
</body>
</html>
