<!doctype html>
<html lang="en" ng-app="InstagramSearcher">
<head>
	<meta charset="UTF-8">
	<title>Instagram Searcher</title>
    <link type="text/css" rel="stylesheet" href="./reset.css">
    <link type="text/css" rel="stylesheet" href="./main.css">
    <script src="./jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="./angular.js" type="text/javascript"></script>
    <script src="./angular-animate.js" type="text/javascript"></script>
    <script src="./instagram-searcher.js" type="text/javascript"></script>
</head>
<body ng-controller="ImageDisplayCtrl" ng-mouseover="showControls=true" ng-mouseleave="showControls=false">
    <header class="container animate" ng-show="showControls == true">
        <div id="navInstaSearchLogo">
            <img src="img/insta-search.png">
        </div><!--
     --><div id="navSearch">
            <form ng-controller="FormCtrl" ng-submit="submit()" name="searchForm" novalidate>
                <input type="text" placeholder="Enter a tag to search" ng-model="data.searchTag" required><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </header>

    <div id="viewport" ng-focus="showControls()">
        <section id="imageDisplay">
            <img ng-src="{{image}}">
        </section>

        <section id="messages" class="container animate" ng-show="showControls == true">
            <p ng-if="searching == true">Searching Instagram for photos tagged with "{{tag}}"</p>
            <p ng-if="numPhotos > 0">{{numPhotos}} results for "{{tag}}" were found</p>
        </section>

        <footer ng-class="{animate:showControls}">
            <a ng-repeat="photo in photos"
               ng-click="displayPhoto(photo.images.standard_resolution.url, $event)"
               href="javascript:void(0)">
                <img ng-src="{{photo.images.thumbnail.url}}">
                <div class="thumbwindow" ng-class="{selected:selected}"></div>
            </a>
        </footer>
    </div>
</body>
</html>
